.cardItem {
    text-align: center;
    color: white;
    border: 1px solid white;
    margin: 3rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: $background-primary;
    }

    &:hover &__text {
        font-size: 1.75rem;
    }

    &__heroImage--grid {
        position: relative;
        top: -3rem;
        padding-top: 0.5rem;
        border-top: 1px solid white;
        width: 18rem;
        height: 27rem;
        overflow: hidden;
    }

    &__heroImage--image {
        width: 100%;
    }

    &__heroImage--loading {
        visibility: hidden;
    }

    &__heroImage--gridloading {
        background-image: linear-gradient(
            90deg,
            $gradient-first 0px,
            $gradient-second 40px,
            $gradient-first 80px
        );
        background-size: 60rem;
        animation: shine-lines 1.6s infinite linear;
    }

    &__text {
        position: relative;
        min-height: 5rem;
        top: -1rem;
        display: flex;
        align-items: center;
        margin: auto;
        font-size: 1.75rem;
        transition: all 0.4s;
    }
}
