.hero{
    display: flex;
    padding: 2rem 1rem;
    margin-bottom:20rem;
    justify-content: center;
    flex-direction: row;
    &__imageDiv{
        padding: 1rem 2rem;
        align-self: center;
    }
    &__image{
        max-width:20vw;
        border-radius: 50%;
    }
    &__infoDiv{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
    }
    &__name{
        color:lightgray;
        font-size: 6rem;
        text-align: center;
    }
    &__description{
        color:lightgray;
        font-size: 2rem;
        font-weight: 200;

    }
    &__additionalDiv{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    &__seriesDiv, &__storiesDiv{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex:1;
        & h4 {
            color:antiquewhite;
            font-size: 3.5rem;
            align-self: center;
           
        }
        & span {
           font-size: 2rem;
           padding: 1rem 2rem;
           text-align: start;
           color:lightblue;
           display: inline;
        }

        & h5 {
            color:lightgray;
            font-size: 2rem;
            font-weight: 200;
        }
    }
  @include respond(tab-land){
      flex-direction: column;
      padding: 0 10rem;
      &__name{
          align-self: center;
      }
      &__description{
          align-self: center;
      }
      &__image{
          max-width: 40vw;
      }
  }
}