body {
  background-color: #222;
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 62.5%;
}

.header {
  position: relative;
  margin-bottom: 10rem;
}

.header__background {
  position: relative;
  width: 100%;
  z-index: 1;
}

.header__marvelText {
  position: absolute;
  z-index: 2;
  bottom: 2.5%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 12rem;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 80vh;
  padding-top: 5rem;
}

.cards {
  display: grid;
  grid-template-columns: min-content  min-content  min-content  min-content;
  justify-content: space-around;
  margin-bottom: 5rem;
  min-height: 40rem;
}

.cardItem {
  text-align: center;
  color: white;
  border: 1px solid white;
  margin: 3rem;
  padding: 0 1rem;
  display:flex;
  flex-direction: column;
}

.cardItem__heroImage--grid {
  position: relative;
  top: -3rem;
  padding-top: 0.5rem;
  border-top: 1px solid white;
  width: 11.25rem;
  height: 16.875rem;
  overflow:hidden;
}

.cardItem__heroImage--image {
  width: 100%;
}

.cardItem__heroImage--loading {
  visibility: hidden;
}

.cardItem__heroImage--gridloading {
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 60rem;
  animation: shine-lines 1.6s infinite linear;
}

.cardItem__text {
  position: relative;
  min-height: 5rem;
  top: -1rem;
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 1.25rem;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10vh;
  padding-right: 3rem;
}

.pagination > span {
  padding: 0.5vw 1vw;
  color: #7e7e7e;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.pagination__number-active {
  color: #222 !important;
  background-color: #7e7e7e;
  border-radius: 20%;
  padding: 0.5vw 1vw !important;
  cursor: default !important;
}

.pagination__dots {
  cursor: default !important;
}

@media only screen and (max-width: 1200px) {
 
  .cards {
    grid-template-columns: min-content min-content min-content;
    justify-content: center;
  }
  .header {
    margin-bottom: 8rem;
  }
  .header__marvelText {
    height: 6rem;
  }
  .pagination {
    padding: 0 2rem;
    margin-bottom: 5rem;
    justify-content: center;
  }  
  .cardItem {
    margin: 3rem 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .cards {
    grid-template-columns: min-content;    
  }
  .header {
    margin-bottom: 5rem;
  }
  .header__marvelText {
    height: 5rem;
  }
  .pagination {
    justify-content: center;
    align-items: center;
  }
  .pagination > span, .pagination__number-active {
    padding: 0.5vw .5rem;
  }
}


@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}