$image-background-light: #dadada;
$image-background-dark: #8c8c8c;

$image-text-light: #444aff;
$image-text-dark: #fefefe;

$image-box-light: #444aff;
$image-box-dark: #ffbf5e;

$form-underline-light: #444aff;
$form-underline-dark: #ffbf5e;

$form-background-light: #f0f0f0;
$form-background-dark: #2c2c2c;

$white: #fefefe;
$black: #3c3c3c;
$gray: #8e8e8e;

$transition: all 0.4s;
$gridPadding: 2rem 4rem;
